[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = ../../DaveGamble/cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ../../espressif/mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = ../../espressif/esp-lwip.git

[submodule "components/pthread/Lab-Project-FreeRTOS-POSIX"]
	path = components/pthread/Lab-Project-FreeRTOS-POSIX
	url = https://github.com/eliransin/Lab-Project-FreeRTOS-POSIX.git

[submodule "components/freertos/FreeRTOS-Kernel"]
	path = components/freertos/FreeRTOS-Kernel
	url = https://github.com/eliransin/FreeRTOS-Kernel.git

[submodule "components/freertos_tcp/FreeRTOS-Plus-TCP"]
	path = components/freertos_tcp/FreeRTOS-Plus-TCP
	url = https://github.com/eliransin/FreeRTOS-Plus-TCP.git